
#top {
    position: relative;
    top: -10px;
    left: -10px;
    width: 100%;
    background-color: #036fab;
    color: white;
    padding: 5px;
    padding-right: 14px;
    margin: 0px 0px 10px 0px;
}

#bottom {
    position: relative;
    top:50px;
    left: -10px;
    width: 100%;
    background-color: #c2dfef;
    padding: 5px;
    padding-right: 14px;
    margin: 10px 0px 0px 0px;
}

#left {
    float: left;
    background-color: #FFF;
    padding: 5px;
    width: 150px;
}

#right {
    float: right;
    background-color: #FFF;
    padding: 5px;
    width: 150px;
}

.center_content {
    position: relative;
    background-color: #FFF;
    padding: 5px;
}

.left_content {
    padding: 5px;
    text-align: center;
    margin: 170px 170px 0px 170px;
    border:none;
}
.mensagem{
    color: red;
    font-size: 30px;
}

.boa{
    font-size: 20px;
}


.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;    
}

#top a:link, #top a:visited {
  color: white;
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: black;
  font-weight : bold;
  text-decoration : underline;
}

.borderNone tr, .borderNone td {
    border: none !important;
}
.title-template{
    font-size: 33px;
    text-align: center;
}

.tema-template{
    font-size: 23px;
    text-align: center; 
}